.settings/
.project
*.classpath
*.jar
*.original
*.lst
*.springBeans
/api-getway/target/
/auth-service/target/
/discovery-service/target/
/order-service/target/
*.iml
/microservices.iml
/product-service/target/
/.idea/
