
zuul-api-getway/target/
weather-service/target/
text-translator/target/
exchange-rates/target/
euraka-discovery/target/
currency-converter/target/
weather-service/bin/target/
currency-converter/bin/
euraka-discovery/bin/
exchange-rates/bin/
text-translator/bin/
weather-service/bin/

.settings/
.project
zuul-api-getway/bin
*.classpath
*.jar
*.original
*.lst
*.springBeans
Product/target/
Auth/target/
Order/target/
