currency-converter-micro-service/bin/src/main/java/com/bharat/microservices/currencyconversionservice/model/CurrencyConvesionBean.class
currency-converter-micro-service/bin/
currency-exchange-micro-service/bin/
netflix-euraka-discovery-server/bin/
netflix-zuul-api-getway-server/bin/
text-translation-micro-services/bin/
weather-micro-service/bin/
text-translation-micro-services/
.settings