language: java
jdk:
  - openjdk8

services:
  - docker

before_install:
  - mvn clean
  #  - echo "$DOCKER_PASSWORD" | docker login  -u "$DOCKER_USERNAME" --password-stdin
  - docker pull openjdk:8-jdk-alpine

script:
  - mvn test
  - mvn clean package